 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); 

 * {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

 body {
  color: white;
  background: linear-gradient(0deg, #229ac3 35%, #2dfddf 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#title {
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: bold;
}
#form {
  padding-bottom: 100px;
  
  input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
  
    &:focus {
      outline: none;
    }
  }
}

.weather {
  font-size: 2rem;
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
  img {
    transform: scale(1);
  }
}

.footer {
  padding-bottom: 10px;
  position:absolute;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  bottom: 0;

  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #ffffff9e;
    }
  }
}

@media (max-width: 435px) {
  #title {
    font-size: 2.8rem;
  }
}